main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 99%;
}


#seccion1 {
    flex-grow: 1;
    padding: 20px;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    border: 3px solid #1ba098;
    margin-right: 2%;
}

.card-estadisticas {
    margin-bottom: 20px;
    width: fit-content;
}

.card-estadisticas h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-estadisticas p {

    color: white;
}

.card-titulo {
    font-size: small;
}

#seccion2 {
    flex-grow: 1;
    width: fit-content;
    margin-right: 2%;

}

#subseccion2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#seccion2 h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #053b38;
    border: 3px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;

}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card p {

    color: white;
}

h3 {
    color: white;
}

.card-precio {
    font-weight: bold;
}

.boton-eliminar {
    display: inline-block;
    padding: 8px 16px;
    background-color: #ff6347;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: fit-content;
}

.boton-eliminar:hover {
    background-color: #cd2200;
}

.boton-reseña {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4784ff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: fit-content;
    margin-bottom: 2%;
}

.boton-reseña:hover {
    background-color: #0030cd;
}

#buscador {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}