/* Estilos página principal */

main {
    width: 100%;
}

#presentacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#fondo-index {
    width: 85%;
    align-self: center;

}

#texto-superior {
    color: white;
}

#texto-inferior {
    color: white;
}